/* Rafael */
/* nav */
body{
    padding: 0px;
    font-size: 20px;
}
h1{
    text-align: center;
    color: #000;   
}
.container-fluid{
    padding: 0px;
}
.corpo{
    background-color: rgb(165, 156, 156);
}
.navbar{
    background-color: rgb(89, 86, 92);
    padding-bottom: 0px;
    border-bottom: 1px solid  rgb(15, 15, 15);
}

.navbar-nav .nav-item .nav-link {
    color: rgb(230, 220, 220);
    letter-spacing: 2px;
}

.navbar-collapse{
    position: relative;
    margin-top: 40px;
}

 .navbar .eu{
    color: rgb(183, 240, 193);
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* foter */ 

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(89, 86, 92);
    border: 1px solid rgb(15, 15, 15);
}

.pe{
    font-size: 30px;
    margin: 5px;
}

ul {
    list-style: none;
}
.menuFooter ul li {
    padding: 0px;
}
.menuFooter a{
    color: rgb(230, 220, 220);
}
.menuFooter ul li a:hover {
    color: #000;
    text-decoration: none;
}

/* pg blog */ 

/* divs */

.divRight{
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 700px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
}

.divlefth{
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 10px;
    height: 800px;

    position: absolute;
    margin-left: 1000px;
}

.divRight:hover {
    transition: 2s;
    opacity: 0.5;

}
.divRight{   
    -webkit-transition: 3s;
}

.divlefth:hover a{
    transition: 1s;
    color: rgb(219, 55, 55);
}


.divlefth:hover {
    transition: 1s;
    opacity: 0.6;   
}

 a.prm {
    font-size: 50px;
    color: rgb(89, 98, 99);
    text-align: center;
    position: relative;
    float: right    ;
}


a:hover {
    text-decoration: none;
    color: blue;
}

a{
    color: #000;   
}

li{
    color: #fff;
}

li a:hover{
    color: rgb(212, 235, 110);
}

/* materia */

.materia{
    
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 700px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;

}

