{% extends 'home.html' %}

{% block content %}
{% block title %}<title> oi</title> {% endblock %}

<div class="row"> 
    <div class="divRight col-md-7 offset-1" id="divRight" onmouseover="seila()">
       <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, quidem fugit! Quia optio similique velit. Cum, culpa consequuntur possimus totam assumenda architecto laborum saepe ipsum aliquid voluptatibus eum nostrum delectus.</p>
    </div>
    
    <div class="col-md-3  divlefth" id="mud" onclick="mudar">
    <span>    
        
        <a href="http:/award/" class="prm"> Ganhe Premios </a>
    </span>    
    </div>
</div>

{% endblock %}
