{% extends 'home.html' %}

{% block content %}

<div class="row"> 
  {% for post in posts %}
    <div class="divRight col-md-7 offset-1" id="divRight" onmouseover="entrar()" onmouseout="sair()">
      <a href="/materia/{{ post.id }}">
        <h1> {{ post.titulo }} </h1>
        {{ post.resumo  }}
        {{ post.foto |safe }}
      </a>
    </div>
    
    {% endfor %}  
  
        <div class="col-md-3  divlefth" id="mud" onmouseover="leftEnter()" onmouseout='leftSair()'>
          <span id="imd_brinde">
            <h2 > Quer ganhar um Brinde  </h2>
              
          </span>  

        </div>

        
       
</div>
</div>

{% endblock %}
